.svg_overview{
	cursor : -moz-grab;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	margin-bottom : auto;
}
		
.svg_component{
	overflow : auto;
	cursor : default;
	user-select: none;
	-khtml-user-select : none;
	-webkit-user-select : none;
	-moz-user-select : none;
	outline: none; 
}
/**
 * Tooltip
 */
.twaver_tooltip{
	border-radius : 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border : 1px solid #222222;
	color: #FFFFFF;
	background-color : #666666;
	padding: 4px;
	opacity : 0.85;
	filter: alpha(opacity=85);
    z-index:10000;
    position: absolute;
    pointer-events: none;
	font: 11px Geneva,Helvetica,Arial,sans-serif;
}

/**
 * PopupMenu
 */
ul.twaver_menu, ul.twaver_menu ul {
	-khtml-user-select : none;
	-moz-user-select : none;
    font-size: 9pt;
    font-family: Arial, sans-serif;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #909090;
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #000000;
    z-index:10000;
}

.twaver_menu li {
    cursor: pointer;
    position: relative;
    overflow: visible;
    width: 150px;
    margin: 4px 4px 4px 4px;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 20px;
}

.twaver_menu li.over {
    background-color: #316AC5;
    color: #FFFFFF;
}

.twaver_menu li.more {
    background-image: url(./images/menu_more.png);
    background-position: right;
    background-repeat: no-repeat;
}

.twaver_menu li.none {
}

.twaver_menu li.disabled {
	cursor: default;
    opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=60);
}

.svg-popup-menu-img {
    padding: 0;
    margin: 0;
    height: 16px;
    width: 16px;
}
.twaver_menu li.separator {
    height: 1px;
    padding: 0;
    overflow: hidden;
    display: block;
    font-size: 1px;
    border-bottom: 1px solid #eed;
    background: #AAA;
    margin: 2px 5px 2px 5px;
    line-height: 1px !important;
}

/**
 * debug panel
 **/
.twaver_debug {
	background-color : #555555;
	opacity : 0.7;
	filter: alpha(opacity=70);
    z-index:9000;
    position: absolute;
    height: 430px;
    right : 5px;
    width : 150px;
    top : 5px;
}

.twaver_debug textarea{
	font-size : 13px;
	width : 98%;
	color : #00FF00;
    height : 400px;
	background-color : #555555;
}

.twaver_alarmstate_pieIcon {
    background-image: url( images/pie.png ) !important;
}

.twaver_alarmstate_barIcon {
    background-image: url( images/bar.png ) !important;
}

.twaver_alarmstate_legendIcon {
    background-image: url( images/legend.png ) !important;
}