@CHARSET "UTF-8";
  .tabPane{
		height:21px;	/* Height of tabs */
		border-bottom:1px solid #919b9c;
	}
	
	.tabPane DIV{
		float:left;
		height:100%;	/* Height of tabs */
		vertical-align:middle;
		background-repeat:no-repeat;
		background-position:bottom left;
		cursor:pointer;
		position:relative;
	}
	.tabPane .tabText{
	    
		font-family:arial;
		font-size:12px;
        line-height:12px;
        padding:5px 2px 2px 2px;
	}
  .tabPane .spaceTab{
  margin-left:20px;
  }
 .tabPane .rspaceTab{
  margin-left:5px;

  }

	.tabPane .tabInactive{
		background-image:url('images/tab_left_inactive.gif');
		margin-left:0px;
		margin-right:0px;
		vertical-align:middle;
		bottom:-1px;
	}
	.tabPane .tabInactive .rdiv{
		background-image:url('images/tab_right_inactive.gif');
		width:4px;
		float:left;
        
		}

  .tabPane .inactiveTabOver{
		background-image:url('images/tab_left_over.gif');
		vertical-align:middle;
		margin-left:0px;
		margin-right:0px;
		bottom:-1px;
	}

	.tabPane .inactiveTabOver .rdiv{
		background-image:url('images/tab_right_over.gif');
		width:4px;
		float:left;
		
	}

	.tabPane .tabActive{
		background-image:url('images/tab_left_active.gif');
		vertical-align:middle;
		margin-left:0px;
		margin-right:0px;	
		bottom:-1px;
	}
	.tabPane .tabActive .rdiv{
		background-image:url('images/tab_right_active.gif');
        width:4px;
		float:left;	
		
	}
.tabPane .btnTab{
	margin-left:15px;
	}	
.tabPane .buttonClass {
	height:20px;
	background-image:url('images/tab_left_inactive.gif');
	cursor:pointer;
	}
.contentDiv{
	overflow:auto;
	}	
.TabDivBroder{
	border-left:1px solid #919b9c;
	border-right:1px solid #919b9c;
	border-bottom:1px solid #919b9c;
	display:none;
}
	.button_blue{margin:1 2 1 2; border-right:1 solid #5AA9FF; border-top:1 solid #FFFFFF; border-left:1 solid #FFFFFF; border-bottom:1 solid #5AA9FF; font-size:12px; color:#003399; padding-top:2; background:#BDE5FF;}