.menu{
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 0px; 
	height: 0px; 	
	overflow: hidden;
	background-color: #F6F6F6;
  border: 1px solid #2A86DD;
  white-space: nowrap;
}
.menu table{
	width: 100%;
	font:"黑体";	
	font-size:12px;
}
.menu table tr{
  background-position: center center;
  background-repeat: repeat-y;
  border: 0 none;
  padding: 3px 0px 2px 6px;
  width:24px;
  height:22px;
}
.menu table td{	
	cursor: hand;		
}
.menu table td span {
	width:   100%;
	padding: 0px,0px,1px,5px;
}