body {font-size: 12;margin: 0 5 5 5;
scrollbar-face-color:#D3D3D3;
scrollbar-shadow-color:#FFFFFF;
scrollbar-highlight-color:#FFFFFF;
scrollbar-3dlight-color:buttonface;
scrollbar-darkshadow-color:buttonface;
scrollbar-track-color:#EEEEEE;
scrollbar-arrow-color:#FFFFFF;
}
td {font-family : 宋体;font-size: 12px; line-height: 140%;color: #000000}
textarea { font-family: 宋体; font-size: 12px; background-color: #FFFFFF; color:#000000;  border:1 solid #6CB2FF;}
input{font-size:12px;color:#000000; background-color: #FFFFFF; border:1 solid #6CB2FF;padding-top: 2px;padding-left: 3px;height: 19px;}
input_datetime{font-size:12px;color:#000000; background-color: #FFFFFF; border:1 solid #6CB2FF;padding-top: 2px;padding-left: 3px;height: 19px;}
/* 页面基本信息的定义 */

.checkbox { background-color: transparent; border:0 ;}
.select{position:relative;width:130px;left:-2px;top:-2px;font-size:12px;line-height:15px;border:0px;color:#000000;}
.select1{position:relative;width:152px;left:-2px;top:-2px;font-size:12px;line-height:15px;border:0px;color:#000000;}
.select2{position:relative;width:302px;left:-2px;top:-2px;font-size:12px;line-height:15px;border:0px;color:#000000;}
.select3{position:relative;width:162px;left:-2px;top:-2px;font-size:12px;line-height:15px;border:0px;color:#000000;}
.select4{position:relative;width:250px;left:-2px;top:-2px;font-size:12px;line-height:15px;border:0px;color:#000000;}
.select_box1{border:1px solid #6CB2FF;width:130px;height:19px;clip:rect(0px,129px,18px,0px);overflow:hidden;}
.select_box2{border:1px solid #F4F4F4;width:128px;height:17px;clip:rect(0px,127px,16px,0px);overflow:hidden;}
.select_box3{border:1px solid #6CB2FF;width:152px;height:19px;clip:rect(0px,151px,18px,0px);overflow:hidden;}
.select_box4{border:1px solid #F4F4F4;width:150px;height:17px;clip:rect(0px,149px,16px,0px);overflow:hidden;}
.select_box5{border:1px solid #6CB2FF;width:302px;height:19px;clip:rect(0px,301px,18px,0px);overflow:hidden;}
.select_box6{border:1px solid #F4F4F4;width:300px;height:17px;clip:rect(0px,299px,16px,0px);overflow:hidden;}
.select_box7{border:1px solid #6CB2FF;width:162px;height:19px;clip:rect(0px,161px,18px,0px);overflow:hidden;}
.select_box8{border:1px solid #F4F4F4;width:160px;height:17px;clip:rect(0px,159px,16px,0px);overflow:hidden;}

.select_box9 {border:1px solid #6CB2FF;height:19px;clip:rect(0px,auto,18px,0px);overflow:hidden;}
.select_box10{border:1px solid #F4F4F4;height:17px;clip:rect(0px,auto,16px,0px);overflow:hidden;}
.select_nohtc{position:relative;left:-2px;top:-2px;font-size:12px;line-height:15px;border:0px;color:#000000;}
.select_htc  {position:relative;width:130px;left:-2px;top:-2px;font-size:12px;line-height:15px;border:0px;color:#000000;behavior:url(/DispatchDesign/htc/SelectStyle/SelectStyle.htc);}
/* 表单中select和checkbox特殊效果的定义 */


.myOver{myOver:expression(onmouseover=function(){bgColor="#FBFFEC"},onmouseout=function(){bgColor="#E6EFFF"})}
/* onMouseOver/onMouseOut效果定义 */

.font28{font-family : 黑体; font-size: 28px;line-height: 200%}
.font20{font-family : 宋体; font-size: 20px;line-height: 180%}
.font18{font-family : 宋体; font-size: 18px;line-height: 160%}
.font16{font-family : 宋体;font-size: 16px;line-height: 160%}
.font14{font-family : 宋体;font-size: 14px; line-height: 140%}
.font12 {font-family : 宋体;font-size: 12px; line-height: 120%}
.font10 {font-family : 宋体;font-size: 10px; line-height: 100%}
/* 页面不同文字大小的定义 */


.opacity {FILTER: alpha(opacity=100)}
.hand {  cursor: hand;}
/* 透明度和鼠标事件的定义 */


.bar1 {color:#0066CC; font-weight:bold; filter: Dropshadow(color=#FFFFFF, Offx=1, OffY=1, Positive=1)}
.bar2 {color:#FF6600; filter: Dropshadow(color=#D5D5D5, Offx=1, OffY=1, Positive=1)}
/* 页面标题栏内文字效果的定义 */

/* 表单定义 */
.input_blue{font-size:12px;color:#000000; background-color: #FFFFFF; border:1 solid #6CB2FF;padding-top: 2px;padding-left: 3px;height: 19px;}
.input_gray{font-size: 12px; border-right: #888888 1px solid;  border-top: #888888 1px solid;  border-left: #888888 1px solid;  border-bottom: #888888 1px solid;  font-size: 12px;  color: #0099FF; background: #FFFFFF;padding-top: 2px;padding-left: 3px;height: 19px;}
.input_black{font-size:12px;color:#000000; background-color: #EBF7FF; border:1 solid #000000;padding-top: 2px;padding-left: 3px;height: 19px;}
.input_underline {border-right: #FFFFFF 1px solid;  border-top: #FFFFFF 1px solid;  border-left: #FFFFFF 1px solid;  border-bottom: #000000 1px solid;  font-size: 12px;  color: #000000; background: #FFFFFF;padding-top: 2px;padding-left: 3px;height: 19px;}
/* 页面各种背景的定义 */
.bg {  background-image:   url(../../images/bg.gif); background-repeat: no-repeat; background-position:right bottom; background-attachment: fixed}


.border1 { BORDER-BOTTOM:#FFFFFF 1px solid; BORDER-LEFT:#FFFFFF  1px solid; BORDER-RIGHT:#FFFFFF  1px solid; BORDER-TOP:#FFFFFF  1px solid;background-color : #E3F2FF;}
.border2 { BORDER-BOTTOM:#FFFFFF 1px solid; BORDER-LEFT:#eeeeee  0px solid; BORDER-RIGHT:#000000  0px solid; BORDER-TOP:#FFFFFF  1px solid;background-color : #FFEDC3;padding-left: 10px;}
.border3 { BORDER-BOTTOM:#3DA6FF 1px solid; BORDER-LEFT:#3DA6FF  1px solid; BORDER-RIGHT:#3DA6FF  1px solid; BORDER-TOP:#3DA6FF  1px solid; background-color : #E3F2FF;}
.border4 { BORDER-BOTTOM:#808080 1px solid; BORDER-LEFT:#808080  1px solid; BORDER-RIGHT:#808080  1px solid; BORDER-TOP:#808080  1px solid;background-color : #FFFFFF;BORDER-COLLAPSE:collapse;TABLE-LAYOUT:fixed;word-break:break-all;}
.border4_1 { BORDER-COLLAPSE:collapse;TABLE-LAYOUT:fixed;word-break:break-all;}
.border5{ BORDER-BOTTOM:#505050 1px solid; BORDER-LEFT:#FFFFFF  1px solid; BORDER-RIGHT:#505050  1px solid; BORDER-TOP:#FFFFFF  1px solid; background-color : #E3F2FF;}
.border6 { BORDER-BOTTOM:#FFFFFF 1px solid; BORDER-LEFT:#3DA6FF 1px solid; BORDER-RIGHT:#FFFFFF  1px solid; BORDER-TOP:#3DA6FF 1px solid;background-color : #FFFFFF;}
.border7{ BORDER-BOTTOM:#FFFFFF 1px solid; BORDER-LEFT:#3DA6FF 1px solid; BORDER-RIGHT:#FFFFFF  1px solid; BORDER-TOP:#3DA6FF  1px solid;background-color : #AFDAFF;}
.border8{ BORDER-BOTTOM:#3DA6FF 1px solid; BORDER-LEFT:#3DA6FF 1px solid; BORDER-RIGHT:#3DA6FF  1px solid; BORDER-TOP:#3DA6FF  1px solid;background-color : #FFFFFF;BORDER-COLLAPSE:collapse;TABLE-LAYOUT:fixed;word-break:break-all;}
.border9{BORDER-BOTTOM:#78C1FF 1px solid;BORDER-LEFT:#D7EDFF 1px solid;BORDER-RIGHT:#78C1FF 1px solid;  BORDER-TOP:#D7EDFF 1px solid;  background-color : #AFDAFF;  padding-left: 10px;  font-weight : bold;}
.border10 { BORDER-LEFT:#FFFFFF  1px solid;BORDER-TOP:#FFFFFF  1px solid;background-color : #E3F2FF;}
.border11{ BORDER-LEFT:#FFFFFF  1px solid;BORDER-TOP:#FFFFFF  1px solid;background-color : #F6F6F6;}
/* 页面中不同 td边框的定义 */

.td_blue {background-color: #94B1ED;}
.td_grey {background-color: #FAFBFD;}
.td_grey_txt {color: #3E4A59; background-color: #EEEEEE;}
.td_blue_txt {color: #3E4A59; background-color: #E4EFFF;}
.td_title_txt{color: #0033CC;background-color: #E3F2FF;}
.td_bluebg  {background-color: #E3F2FF;}
.td_bluebg_txt{color: #0033CC;background-color: #E3F2FF;}
.td_bluebg1  {background-color: #C1E0FF;}
.td_bluebg1_txt{color: #0033CC;background-color: #C1E0FF;}
.tdTitle1 {background-color:#C1E0FF; border-style:solid; border-left-width:1; border-right-width:1; border-top-width:1; border-bottom-width:1; border-color:#C1E0FF; border-top-color:#FFFFFF; border-right-color:#666666; border-bottom-color:#666666; border-left-color:#FFFFFF;}
.td_blue_title {color: #FFFFFF; background-color: #7694D2; height:20px; padding-top:2; font-weight:bold;}

.font_orange {color:#FF6600}
.hiddenData{overflow:hidden;top:0;position:relative}

/* 页面中不同表格td内背景和文字 */
.txtfld1 {BACKGROUND-COLOR: #F3FFF2; BORDER-BOTTOM: 1px outset; BORDER-LEFT: 1px outset; BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-SIZE: 12px}
.txtfld2 {BACKGROUND-COLOR: #FFFEE6; BORDER-BOTTOM: 1px outset; BORDER-LEFT: 1px outset; BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-SIZE: 12px}
.txtfld3 {BACKGROUND-COLOR: #E9F7FF; BORDER-BOTTOM: 1px outset; BORDER-LEFT: 1px outset; BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-SIZE: 12px}

/*实线边框*/
.solidBorder {border:medium double #666666; cursor:crosshair}

/* 页面中不同区域文字的定义 ,目前未使用到*/
a:link {color: #0033CC; text-decoration: none}
a:visited {color: #0033CC;  text-decoration: none}
a:active {color: #0033CC; text-decoration: none}
a:hover {text-decoration: none; color: #000000;}
/* 页面中基本链接样式的定义 */

/* ----------以下都是页面链接样式的定义----------*/
A.link_orange:link{text-decoration: none; color: #FF6600;}
A.link_orange:visited  {text-decoration: none; color: #FF6600}
A.link_orange:active {text-decoration: none; color: #FF6600}
A.link_orange:hover {text-decoration: none; color: #505050}

A.link_black:link{text-decoration: none; color: #000000;}
A.link_black:visited  {text-decoration: none; color: #000000}
A.link_black:active {text-decoration: none; color: #000000}
A.link_black:hover {text-decoration: none; color: #505050}

A.link_bg:link {  color: #0033CC; text-decoration: none}
A.link_bg:visited {  color: #0033CC; text-decoration: none}
A.link_bg:active {  color: #FFFFFF; text-decoration: none; background-color: #0099FF; padding-top: 2px;width: 90px}
A.link_bg:hover {  color: #FFFFFF; text-decoration: none; background-color: #0099FF;  padding-top: 2px;width: 90px}


.tabp{border-color: #000000 #000000 #000000 #000000;border-style: solid;border-top-width: 2px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 2px;font-size: 10pt;}
HR {COLOR: #003399; HEIGHT: 1px}

.mtdexit {BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid}
.ltdexit {BACKGROUND-COLOR: #d0d0ce; BORDER-BOTTOM: #d0d0ce 1px solid; BORDER-TOP: #d0d0ce 1px solid; BORDER-LEFT: #d0d0ce 1px solid}
.rtdexit {BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid}
.cRowMouseOver{BACKGROUND-COLOR: #AAE2AF;BORDER-BOTTOM: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid}

/* 页面不同表单相应按钮的定义 */
.button{margin: 1 2 1 2; border:1 solid #888888; font-size:12px; color:#000000; padding-top:2; background:#EBEBEB; cursor:hand; background-image:url(/DispatchDesign/images/button/button_blue.gif);}
.button_img{behavior:url("/DispatchDesign/htc/Button/ButtonWait.htc"); margin: 1 2 1 2; border-top:1 solid #FFFFFF; border-right:1 solid #7CBCFC; border-bottom:1 solid #7CBCFC; border-left:1 solid #FFFFFF; font-size:12px; color:#000000; padding-top:2; background:#DFEAFF; background-image:url(/DispatchDesign/images/button/button_blue_bg.gif);}
.button_blue{behavior:url("/DispatchDesign/htc/Button/ButtonWait.htc"); margin:1 2 1 2; border-right:1 solid #5AA9FF; border-top:1 solid #FFFFFF; border-left:1 solid #FFFFFF; border-bottom:1 solid #5AA9FF; font-size:12px; color:#003399; padding-top:2; background:#BDE5FF;}
.button_yellow {border-right:1 solid #FF8B3E;  border-top:1 solid #FFCC00;  border-left:1 solid #FFCC00;  border-bottom:1 solid #FF8B3E;  font-size: 12px;  color: #000000; padding-top: 2px;background: #FFEDAF; }
.button_3D {margin: 1 2 1 2; BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP:
      #000000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER:
      progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
      StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #000000
      1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px;
      BORDER-BOTTOM: #000000 1px solid}

.subtab_bar {color:#1851D6; font-size:12px; padding-left: 6px;padding-right: 6px; filter:progid:DXImageTransform.Microsoft.Glow(color=#FFFFFF,Strength=1);}
/* 控件 */
.treelist{selectedBgColor:#AFDAFF; behaviorPath:/DispatchDesign/htc/TreeList/;}
.datetimepicker{behavior:url("/DispatchDesign/htc/DateTimePicker2/DateTimePicker.htc"); behaviorPath:/DispatchDesign/htc/DateTimePicker2/;}
.datetimetext{behavior:url("/DispatchDesign/htc/DateTimePicker2/DateTimeText.htc");behaviorPath:/DispatchDesign/htc/DateTimePicker2/;}
.tab_eoms{behavior:url("/DispatchDesign/htc/Tabstrip/Tabstrip.htc"); skinPath:/DispatchDesign/htc/Tabstrip/images/eoms/;
maxtabHeight:22; mintabHeight:19; fontColor:#000000; fontColorOver:#000000; fontColorSelect:#2A53B3;
lightShadow:#FCFCFC; midShadow:#D3D3D3; pageBorder:#80A8F7; lightColor:#FFFFFF; darkColor:#FFFFFF;}
