<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:util="http://www.springframework.org/schema/util" 
    xmlns:task="http://www.springframework.org/schema/task" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<!-- bundle a message resource -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<!-- 文件上传 --> 
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		p:defaultEncoding="UTF-8"
		p:maxUploadSize="51971520"
		p:uploadTempDir="upload/temp"/>
	<bean id="paramMethodResolver"
		class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
		<property name="paramName">
			<value>action</value>
		</property>
		<property name="defaultMethodName">
			<value>handleDefault</value>
		</property>
	</bean>
	<bean id="baseMultiActionController" class="com.microwill.framework.web.BaseMultiActionController">
		<property name="methodNameResolver">
			<ref bean="paramMethodResolver" />
		</property>
		<property name="messageSource" ref="messageSource" />
	</bean>
	<mvc:interceptors>
		<bean
			class="com.microwill.framework.web.interceptor.CharacterEncodingInterceptor" />
		<bean class="com.microwill.framework.web.interceptor.LoginCheckInterceptor" />
	</mvc:interceptors>
	<mvc:annotation-driven />
	<context:component-scan base-package="com.microwill.prfrmn.hospital" />
	<context:component-scan base-package="com.microwill.prfrmn.bureau" />
	<context:component-scan base-package="com.microwill.framework.web" />
</beans>