body {
	margin : 1px;
	font-size : 13px;
    font-family: Helvetica;
}
#toolbar {
	position: relative; 
	background-color: #EEEEEE; 
	border: 1px solid #BBBBDD;
}
#overview {
	position: absolute; 
	right: 8px; 
	top : 33px; 
	background-color: #888888; 
	border: 1px solid #666666; 
	width:130px; 
	height:130px;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
#network {
	position: absolute;
	border: 1px solid #888888;
	top: 27px;
	bottom: 0px;
	left: 1px;
	right: 1px;
}

*html #network{ /* target IE6 only */ 
	width: 100%;
	left: 0;
	right: 0;
	border: none;
	border-top: 1px solid #888888;
	height: expression( document.documentElement.clientHeight - 30);
}
*+html #network { /* target IE7 only */ 
	width: 100%;
	left: 0;
	right: 0;
	border: none;
	border-top: 1px solid #888888;
	height: expression( document.documentElement.clientHeight - 30);
}
@media screen and (max-device-width: 480px){
	body {
		margin : 0px;
		background-image: url(../../images/iphoneBackground.png);
	}
	#network {
	    -webkit-margin-top-collapse: separate;
	    -webkit-margin-bottom-collapse: separate;
	    margin-left: 0px;
	    margin-right: 0px;
	    width: auto;
	    height: auto;
	    min-height : 300px;
		border: none; 
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	#toolbar {
		display : none;
	}
	#overview {
		display : none;
	}
}