<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:util="http://www.springframework.org/schema/util" 
    xmlns:task="http://www.springframework.org/schema/task" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<mvc:default-servlet-handler/> 
	<!-- bundle a message resource -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>
	<bean class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="order">
			<value>0</value>
		</property>
		<property name="location">
			<value>classpath:spring-views.xml</value>
		</property>
	</bean >
	<!-- JSP视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order">
			<value>2</value>
		</property>
		<property name="prefix">
			<value>/template/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- velocity视图解析器 -->
	<bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="order">
			<value>1</value>
		</property>
		<property name="cache" value="false" />
		<property name="prefix" value="/" />
		<property name="suffix" value=".html" />
		<property name="contentType">
			<value>text/html;charset=UTF-8</value>
		</property>
		<property name="dateToolAttribute">
			<value>dateTool</value>
		</property>
		<property name="numberToolAttribute">
			<value>numberTool</value>
		</property>
		<property name="toolboxConfigLocation">
			<value>/WEB-INF/classes/toolbox.xml</value>
		</property>
		<property name="layoutUrl" value="layout/layout.html" />
	</bean>
	<!-- velocity环境配置 -->
	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<!-- velocity配置文件路径 -->
		<property name="configLocation" value="classpath:velocity.properties" />
		<!-- velocity模板路径 -->
		<property name="resourceLoaderPath" value="/template/vm/" />
	</bean>
	<!-- 文件上传 --> 
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		p:defaultEncoding="UTF-8"
		p:maxUploadSize="51971520"
		p:uploadTempDir="upload/temp"/>
	<bean id="paramMethodResolver"
		class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
		<property name="paramName">
			<value>action</value>
		</property>
		<property name="defaultMethodName">
			<value>handleDefault</value>
		</property>
	</bean>
	<bean id="baseMultiActionController" class="com.microwill.framework.web.BaseMultiActionController">
		<property name="methodNameResolver">
			<ref bean="paramMethodResolver" />
		</property>
		<property name="messageSource" ref="messageSource" />
	</bean>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/*.json"/>
			<mvc:mapping path="/**/*.spr"/>
			<bean class="com.microwill.framework.web.interceptor.CharacterEncodingInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**/*.json"/>
			<mvc:mapping path="/**/*.spr"/>
				<bean class="com.microwill.framework.web.interceptor.AccessInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**/*.json"/>
			<mvc:mapping path="/**/*.spr"/>
			<bean class="com.microwill.framework.web.interceptor.SysLogIntercepter" />
		</mvc:interceptor>
	</mvc:interceptors>
	<mvc:annotation-driven />
	<context:component-scan base-package="com.microwill.framework.web" />
	<context:component-scan base-package="com.microwill.project" />	
</beans>