.tableDiv{
 border:1px solid blue;
 overflow:auto; 
 zoom:1;
 } 
.tableDiv table{ 
font-size:14; 
float:left;
cellspacing=0
border:0;
word-wrap:break-word;
word-break:break-all;

} 
.tableDiv table tr{
height:20px;
}
.tableDiv table .activeTd{
background-color:#F6F6F6;
}
.tableDiv table .selectedTd{
background-color:#F6F6F6;
}
.tableDiv table .blurTd{
table-layout:fixed;
border-top:0px solid #FFFFFF;
border-left:1px solid #FFFFFF;
border-right:1px solid #EBEBEB;
border-bottom:1px solid #EBEBEB;
}
.tableDiv table td{
table-layout:fixed;

border-top:0px solid #FFFFFF;
border-left:1px solid #FFFFFF;
border-right:1px solid #EBEBEB;
border-bottom:1px solid #EBEBEB;
word-wrap:break-word;
word-break:break-all;
}
.tableDiv table .tailTd{


}
.tableDiv table td span{
word-wrap:break-word;
word-break:break-all;
 text-overflow :ellipsis;
 table-layout:fixed;
}
.tableDiv table .fixedHeaderTr     
  {     
  position:relative;     
  background-color:#F6F6F6;
  height:30px;
  font-size:14; 
  };     
.tableDiv table  .fixedLeftTd   
  {     
  position:relative;     
   font-size:14; 
  background-color:#F6F6F6;
  width:30px;
  padding:0px;

border-right:1px solid #DEDEDE;
border-bottom:1px solid #DEDEDE;
-moz-user-select:none;/*Firefox*/
  };     