@CHARSET "UTF-8";
.divTop{
float:left;
width:100%;
height:100%;

}
.divTop2{
float:left;
width:100%;
height:100%;

} 
.left-div{      
    float:left;     
    height:100%; 
    font-size:14px;
    
}
.left-div2{      
    float:left;     
    height:100%; 
    font-size:14px;
    
}     
.middld-div{      
    float:left;     
    height:100%; 
    cursor:e-resize; 
    height:100%; 
    width:2px;
    background:#0054E3;
    margin:0px 0px 0px 0px;   
}
.middld-div2{      
    float:left;     
    height:100%; 
    cursor:e-resize; 
    height:100%; 
    width:11px;
    background:#0054E3;
    margin:0px 0px 0px 0px;   
}
.right-div{      
      
    height:100%;
    width:100%;
}   
.right-div2{      
    float:right; 
    height:100%;
    left:-0px;
    
}     