<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <!-- 基础设施 -->
    <import resource="springMVC/base-servlet.xml"/>
    <!-- 医院绩效管理系统 -->
    <import resource="springMVC/prfrmn-servlet.xml"/>
</beans>